<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- mybatis控制台LOG输出 -->
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.zhou.product.entity.Manager" alias="manager"/>
		<typeAlias type="com.zhou.product.entity.Nav" alias="nav"/>
		<typeAlias type="com.zhou.product.entity.Article" alias="article"/>
		<typeAlias type="com.zhou.product.entity.ArticlePojo" alias="articlePojo"/>
	</typeAliases>
</configuration>