<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>news_test</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.user.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>insertManager</display-name>
    <servlet-name>insertManager</servlet-name>
    <servlet-class>com.servlet.insertManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertManager</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editManager</display-name>
    <servlet-name>editManager</servlet-name>
    <servlet-class>com.servlet.editManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editManager</servlet-name>
    <url-pattern>*.dos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteManager</display-name>
    <servlet-name>deleteManager</servlet-name>
    <servlet-class>com.servlet.deleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteManager</servlet-name>
    <url-pattern>/deleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertNav</display-name>
    <servlet-name>insertNav</servlet-name>
    <servlet-class>com.servlet.insertNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertNav</servlet-name>
    <url-pattern>/insertNav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteNav</display-name>
    <servlet-name>deleteNav</servlet-name>
    <servlet-class>com.servlet.deleteNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNav</servlet-name>
    <url-pattern>/deleteNav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editNav</display-name>
    <servlet-name>editNav</servlet-name>
    <servlet-class>com.servlet.editNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editNav</servlet-name>
    <url-pattern>/editNav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertArticle</display-name>
    <servlet-name>insertArticle</servlet-name>
    <servlet-class>com.servlet.insertArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertArticle</servlet-name>
    <url-pattern>/insertArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editArticle</display-name>
    <servlet-name>editArticle</servlet-name>
    <servlet-class>com.servlet.editArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editArticle</servlet-name>
    <url-pattern>/editArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteNews</display-name>
    <servlet-name>deleteNews</servlet-name>
    <servlet-class>com.servlet.deleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNews</servlet-name>
    <url-pattern>/deleteNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.servlet.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>itemServlet</display-name>
    <servlet-name>itemServlet</servlet-name>
    <servlet-class>com.servlet.itemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>itemServlet</servlet-name>
    <url-pattern>/item.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>com.servlet.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>articleServlet</display-name>
    <servlet-name>articleServlet</servlet-name>
    <servlet-class>com.servlet.articleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleServlet</servlet-name>
    <url-pattern>/articleList.html</url-pattern>
  </servlet-mapping>
</web-app>